/* Template styling */
@import "compass";
@import 'Masonry';

html,
body {
  margin: 0;
}

body {
  background: url('../images/dark-linen.png') repeat;
  font-family: 'Roboto', sans-serif;
}

div#app {
  display: grid;
  max-width: 1400px;
  margin: 0 auto;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto 1fr auto;
  grid-template-areas:
    'header header header'
    'menu menu menu'
    'container container container'
    'footer footer footer'
  ;
  min-height: 100vh;
}

header {
  grid-area: header;
  height: 200px;
  background: url('../images/banner-top.png');
}

nav {
  grid-area: menu;
  height: 60px;
  background: url('../images//banner-bottom.png');
  font-size: 1.75em;
  line-height: 60px;
  padding: 20px;
  color: white;
  display: flex;
}

nav a {
  color: rgb(95, 191, 255);
  text-decoration: none;
  margin: 0 10px;
}

nav a:hover {
  color: rgb(198, 115, 247);
}

#container {
  grid-area: container;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  color: white;
}

footer {
  grid-area: footer;
  padding: 10px;
  text-align: center;
  color: #ccc;
}

.hidden {
  display: none;
}

a.active {
  color: white;
  font-weight: bold;
}

input#search {
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border: 1px solid gray;
  border-radius: 4px;
  height: 24px;
  flex: 1 0;
  margin: auto;
}

span.favorite {
  padding-left: 10px;
  cursor: pointer;
}

span.favorite.active {
  color: rgb(255, 0, 149);
}

span.favorite:hover {
  color: rgb(187, 135, 255)
}

/* End template styling */
#img {
  width: 20px;
}

#img-loop {
  /* background-color:rgb(102, 102, 186) */
  background-image: linear-gradient(144deg, #e7a564, #fb83ef 50%, #dc77e6);
}

 .nav-link {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
  align-items: center;
  background-image: linear-gradient(144deg, #AF40FF, #5B42F3 50%, #00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
} 


#formModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

#form {
  background-color: #fefefe;
  background-image: linear-gradient(144deg, #8defcd, #6fd6f0 50%, #aa84e4);
  color: black;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 15%;
}
#fileInput{
  font-size: 15px;
}

.closeButton {
  background-color: rgb(202, 74, 74);
  margin-left: 90%;
}
.fullscreen-gif { 
 height: 80%;
 width: 80%;
 
}
/* loading start */
#loader {
  display: none;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #2f8ece; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
/* loading end */

/* start btn first style */
/* .category-button {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  margin: 50px;
  color: black;
  width: 250px;
  font-size: 20px;
  font-weight: bold;
}

.category-button:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.category-button:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.category-button:hover::before {
  filter: blur(20px);
}

.category-button:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
} */
/* end btn */

/* start btn second style */
.category-button {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(193, 141, 249, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 1em 3em;
  color: var(--glow-color);
  font-size: 15px;
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 1em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  margin: 10px;
 }
 
 .category-button::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.8em) rotateX(31deg) scale(1, .6);
 }
 
 .category-button:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
         0 0 4em 2em var(--glow-spread-color),
         inset 0 0 .75em .25em var(--glow-color);
 }
 
 .category-button:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
         0 0 2.5em 2em var(--glow-spread-color),
         inset 0 0 .5em .25em var(--glow-color);
 }
/* end second */

/* Start onpoint start */
.gif-item {
  position: relative;
}

.gif-content {
  position: relative;
}

.favorite-status .delete-button .fullscreen-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5); /* semi-transparent background */
  color: white;
  display: none;
}

.gif-item:hover .favorite-status .delete-button .fullscreen-button {
  display: block;
}

.gif-item:hover .controls {
  display: flex;
}

/* start btn first style */
.openFormButton {
  text-decoration: none;
  position: relative;
  border: none;
  font-size: 14px;
  font-family: inherit;
  cursor: pointer;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
  color: black;
  width: 250px;
  font-weight: bold;
  /* position: 50%4; */
}

.openFormButton:hover {
  animation: ani 8s linear infinite;
  border: none;
}

@keyframes ani {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

.openFormButton:before {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
}

.openFormButton:hover::before {
  filter: blur(20px);
}

.openFormButton:active {
  background: linear-gradient(32deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
} 

.delete-button {
  background-color: rgb(202, 74, 74);

}

/* end btn */

/* .favorite-status, .fullscreen-button {
  padding: 5px; /* add some padding around the controls */
  /* cursor: pointer; change the cursor when hovering over the controls */
